<div class="footer" fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="hasPageBeenScrolledDown" id="scrollToTopBtn" class="btn footer-icon"><img src="../../assets/images/up-arrow.svg" alt="up-arrow"></button>
    <a href="https://www.linkedin.com/in/brendancjz/" target="_blank"><img class="btn link-icon footer-icon" id="linkedin-icon" src="../../assets/images/linkedin-icon.svg" alt="linkedin-icon"></a>
    <a href="https://www.github.com/brendancjz/" target="_blank"><img class="btn link-icon footer-icon" id="github-icon" src="../../assets/images/github-icon.svg" alt="github-icon"></a>
    <a [href]="cvHref" class="btn footer-icon" id="cv-button" target="_blank" rel="noopener noreferrer">View C.V.</a>
</div>
