<div class="projects" >
<div *ngFor="let project of projects; let i = index" [className]="(i + coinToss) % 2 === 0 ? 'project fadeInRight' : 'project fadeInLeft'" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
        <div class="proj-main" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
            <div class="proj-writeup">
                <h1>
                    {{project.name}}
                    <span class="proj-date">{{project.date}}</span>
                </h1>
                <div class="proj-oneliner">
                    <p>{{project.oneLiner}}</p>
                </div>
                <div [className]="isSmallScreenSize ? 'proj-desc squished' : 'proj-desc'">
                    <p>
                        {{project.description}}
                    </p>
                </div>
                <div *ngIf="isSmallScreenSize" class="proj-side-squished">
                    <h3>Tech Used</h3>
                    <p>{{project.techUsed.join(', ')}}</p>
                </div>
            </div>
            <div class="proj-additionals">
                <div [className]="isSmallScreenSize ? 'proj-image squished' : 'proj-image'">
                    <img *ngIf="project.image.length > 0" class="photo" id="dp" [src]="project.image" alt="profile-photo">
                </div>
                <div class="proj-action" fxLayout="row" fxLayoutAlign="space-around center">
                    <a *ngIf="project.action.length > 0" class="btn" id="action-button" [href]="project.actionLink" target="_blank">{{project.action}}</a>
                    <a *ngIf="isSmallScreenSize && project.githubLink" class="github-button btn" [href]="project.githubLink" target="_blank">Github</a>
                </div>
            </div>
        </div>
        <div *ngIf="!isSmallScreenSize" class="proj-side">
            <h2>Tech Used</h2>
            <div class="proj-side-content">
                <p *ngFor="let tech of project.techUsed">{{tech}}</p>
            </div>
            <a *ngIf="project.githubLink" class="github-button btn" [href]="project.githubLink" target="_blank">
                Github
            </a>

        </div>
    </div>
</div>
