<div class="blog" fxLayout="column" fxLayoutAlign="center center">
    <div class="top-section" fxLayout="row" fxLayoutAlign="end center">
        <input class="search-bar" placeholder="search...">
    </div>
    <div class="main-section">
        <div class="blog-post-container" fxLayout="column" fxLayoutAlign="center center">
            <div class="blog-post" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="blog-post-icon btn">
                    <img class="icon" id="about-me-icon" src="../../assets/images/about-me-icon.png" alt="about-me">
                </div>
                <div class="blog-post-title">
                    How To: Create a Java Telegram Bot
                </div>
            </div>
            <div  class="blog-post-content">
                <h1 class="blog-post-header">
                    How To: Create a Java Telegram Bot
                </h1>
                <div class="paragraph">
                    <h2 class="blog-post-sub-header">

                    </h2>
                    <p>

                    </p>
                    <img>
                </div>
            </div>
            
        </div>
    </div>
</div>