.nav-div {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none; //So that I can click the elements behind this div 
}

.nav-button {
  pointer-events: auto; //So that I can still the elements in this div
}

/* Style the links inside the navigation bar */
.topnav {
  margin: 2rem 0rem;
}

.topnav a {
  font-weight: 600;
  font-size: 22px;
  color: #222222;
  padding: 20px 30px;
  text-decoration: none;
  
  transition: 0.3s ease-out;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: rgba(255,255,255,0.8);
}

/* Add a color to the active/current link */
.topnav a.active {
  color: rgba(255,255,255,0.8);
}

.toggle-button {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  pointer-events: auto; //So that I can still the elements in this div
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #222222;
  border-radius: 10px;
}

.toggled {
  position: absolute;
  top: 25px;
  right: 10px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  text-align: center;
}
