<div class="nav-div">
    <div toggleButton (clickOutside)="hideTopNav()">
        <a class="toggle-button" fxHide.gt-xs (click)="toggleTopNav()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
    </div>

    <div *ngIf="showingTopNav" [className]="isSmallScreenSize ? 'topnav toggled' : 'topnav'" >
        <div [className]="hasScrollDown && !isSmallScreenSize ? 'white-background' : ''" fxLayout="row" fxLayoutAlign="center" fxLayout.xs="column">
            <a class="nav-button" routerLink="/home" routerLinkActive="active" (click)="newPageEvent()">Home</a>
            <a class="nav-button" routerLink="/projects" routerLinkActive="active" (click)="newPageEvent()">Projects</a>
            <a class="nav-button" routerLink="/contact" routerLinkActive="active" (click)="newPageEvent()">Contact</a>
            <a class="nav-button" href="https://medium.com/@brendancjz" target="_blank">Blog</a>
        </div>

    </div>
</div>