@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Inter&display=swap');

/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Dosis', helvetica, arial, sans-serif; 
    color: #222222;
}

body {
    width: 100vw;
    margin: 0;
    background-image: linear-gradient(to bottom right, #7093E4, #A5E2E3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #93C7E3; //Fallback if the gradient is not supported.
}

body::-webkit-scrollbar {
    display: none;
}

.btn {
    position: relative;
}

.btn:hover {
    cursor: pointer;
}

.btn::before {
    transition: 0.3s ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

}

.btn:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
