/* You can add global styles to this file, and also import other style files */
* {
    font-family: helvetica, arial, sans-serif; 
    color: #222222;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #7093E4, #A5E2E3);
    
    
}

body::-webkit-scrollbar {
    display: none;
}

