<div class="home" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
    <div id="home-intro">
        <div class="hello" fxLayout="column">
            <h1 id="hello-title">Hello, I'm {{name}}</h1>
            <p id="hello-desc">An aspiring software engineer</p>
        </div>
        <a id="about-me-button" routerLink="../about-me">About Me</a>
    </div>
    <div class="profile-photos">
        <img class="photo" id="dp-3" src="../../assets/images/profile-photo-3.png" alt="profile-photo-3">
    </div>

</div>